<div class="container">
	<div class="d-flex mb-4 h5">
		DOCTOR
	</div>
	<div class="d-flex flex-wrap mb-4">
		<div class="p-0" *ngIf="authorities.includes('ROLE_ADMIN')">
			<app-doctor-modal [doctor]="doctorTest" (findAll)="findAll()" [hospitalId]="hospitalId"></app-doctor-modal>
		</div>
		<div class="ml-auto">
			<div class="d-flex flex-wrap">
				<div class="p2">
					<div class="input-group rounded">
						<input type="date" class="form-control rounded" placeholder="birthDate" aria-label="Search" [(ngModel)]="date"
						  aria-describedby="search-addon" />
						<!-- <span class="input-group-text border-0" id="search-addon">
						  <i class="fas fa-search"></i>
						</span> -->
					</div>
				</div>
				<div class="p2">
					<div class="input-group rounded">
						<input type="search" class="form-control rounded" placeholder="Names" aria-label="Search"
						  aria-describedby="search-addon" [(ngModel)]="name"/>
						<button class="input-group-text border-0" id="search-addon" (click)="search()">
						  <i class="fas fa-search"></i>
						</button>
						<button class="input-group-text border-0" style="background: rgb(220,53,69); color: aliceblue;" id="search-addon" (click)="clear()">
							<i class="fas fa-times-circle"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Birth Date</th>
					<th scope="col">Address Hospital</th>
					<th scope="col">Hospital</th>
					<th scope="col" *ngIf="authorities.includes('ROLE_ADMIN')">Actions</th>
				</tr>
			</thead>
			<tbody *ngFor="let doctor of doctors; index as i">
				<tr>
					<th scope="row">{{((currentPage-1)*pageSize)+i+1}}</th>
					<td>{{ doctor.firstName }}</td>
					<td>{{ doctor.lastName }}</td>
					<td>{{ doctor.birthDate | date : 'MM/dd/yyyy' }}</td>
					<!-- <td>{{ tranform(doctor.birthDate) }}</td> -->
					<td>{{ doctor.hospitalDTO.address }}</td>
					<td>{{ doctor.hospitalDTO.name }}</td>
					<td>
						<div class="d-flex" *ngIf="authorities.includes('ROLE_ADMIN')">
							<div class="p2">
								<app-doctor-modal [doctor]="doctor" (findAll)="findAll()" [hospitalId]="hospitalId"></app-doctor-modal>
							</div>
							<div class="p2">
								<app-delete-modal (delete)="delete(doctor.id)"></app-delete-modal>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="justify-content-center d-flex">
			<div class="row">
				<div class="col-xs-12 col-12">
					<pagination [totalItems]="totalItems" [itemsPerPage]="pageSize"
						[(ngModel)]="currentPage" [maxSize]="maxSize" [rotate]="rotate" (pageChanged)="changePage($event)">
					</pagination>
				</div>
			</div>
		</div>
	</div>
</div>