<div class="container">
	<div class="d-flex mb-4 h5">
		HOSPITAL DOCTORS 
  </div>
  <div class="mt-4 mb-4">
    <app-doctor-modal [doctor]="doctorTest" (findAll)="findAllDoctorsByHospitalId()" [hospitalId]="hospitalId"></app-doctor-modal>
  </div>
	<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Address Hospital</th>
          <th scope="col">Hospital</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let doctor of doctors; index as i">
        <tr>
          <th scope="row">{{((currentPage-1)*pageSize)+i+1}}</th>
          <td>{{ doctor.firstName }}</td>
          <td>{{ doctor.lastName }}</td>
          <td>{{ doctor.hospitalDTO.address }}</td>
          <td>{{ doctor.hospitalDTO.name }}</td>
          <td>
            <div class="d-flex">
              <div class="p2">
                <app-doctor-modal [doctor]="doctor" (findAll)="findAllDoctorsByHospitalId()" [hospitalId]="hospitalId"></app-doctor-modal>
              </div>
              <div class="p2">
                <app-delete-modal (delete)="delete(doctor.id)"></app-delete-modal>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="justify-content-center d-flex">
      <div class="row">
        <div class="col-xs-12 col-12">
          <pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" [(ngModel)]="currentPage" [maxSize]="maxSize"
            [rotate]="rotate" (pageChanged)="changePage($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>