<div>
  <div class="page-wrapper chiller-theme">
    <!-- <a id="show-sidebar" class="btn btn-sm btn-dark btn-response">
      <span style="margin-left: -22px;">
        <i class="fas fa-bars"></i>
      </span>
    </a> -->
    <app-sidebar [responsive]="responsive"></app-sidebar>
    <div class="page-content-header">
      <nav class="navbar navbar-dark bg-dark"
        style="background: #424242 !important; padding-top: 0 !important; padding-bottom: 0 !important;">
        <div class="navbar-brand">
        </div>
        <form class="form-inline my-2 my-lg-0">
          <!-- <div class="toolbar-separator"></div> -->
          <button class="btn my-2 my-sm-0 mf-8 dropdown nav-link" style="color: white;" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="imageUrl" alt="" width="40px"
              height="40px" style="border-radius:150px;">
            <span class="span1">{{ user?.firstName }}</span>
            <div class="dropdown-menu" style="background: #424242 !important; color: white;" aria-labelledby="navbarDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item btn" style="color: white !important;" (click)="logout()">
                <i class="fas fa-sign-out-alt mr-2"></i>
                <span>
                  Logout
                </span>
              </a>
            </div>
          </button>
          <!-- <div class="toolbar-separator"></div> -->
          <button class="btn btn-sm btn-dark show-btn-responsive" style="color: white !important" (click)="toggleResponsive()">
            <div *ngIf="responsive === 'close-responsive'">
              <i class="fas fa-list-ul"></i>
            </div>
            <div *ngIf="responsive === 'open-responsive'">
              <i class="far fa-window-close"></i>
            </div>
          </button>
        </form>
      </nav>
    </div>
    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<!-- <div class="page-wrapper">
  <div class="page-content-header">
    <app-navbar></app-navbar>
  </div>
  <app-sidebar></app-sidebar>
  <main class="page-content">
    <router-outlet></router-outlet>
  </main>
</div> -->