<div *ngIf="hospital === null;else other_content">
	<button type="button" class="btn btn-primary" (click)="openModal(template)">Create Hospital</button>
</div>

<ng-template #other_content>
	<a class="btn btn-info text-white btn-sm padding-edit-2 iconform" 
		tooltip="Edit"
		placement="left" (click)="openModal(template)">
		<i class="fas fa-pen"></i>
	</a>
</ng-template>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">
			{{ hospital === null ? 'Create Hospital' : 'Edit Hospital'}}
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="container font-size-14">
			<form [formGroup]="hospitalFormGroup" (ngSubmit)="onSubmit()">
				<div class="row">
					<div class="form-group col-sm-12 col-md-12">
						<label class="col-form-label text-left labelform">Name</label>
						<input class="form-control" type="text" id="name" placeholder=" " name="name" formControlName="name"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.name.valid) || (!formControls.name.valid && (formControls.name.dirty || formControls.name.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.name.valid) || (!formControls.name.valid && (formControls.name.dirty || formControls.name.touched) && !submitted)">
							Field is required.
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12">
						<label class="col-form-label text-left labelform">Address</label>
						<input class="form-control" type="text" id="address" placeholder=" " name="address"
							formControlName="address"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.address.valid) || (!formControls.address.valid && (formControls.address.dirty || formControls.address.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.address.valid) || (!formControls.address.valid && (formControls.address.dirty || formControls.address.touched) && !submitted)">
							Field is required.
						</div>
					</div>
				</div>
				<div class="text-right mt-3 mt-sm-0">
					<button type="submit" class="btn btn-success padding-edit-2">Save</button>
					<button type="button" class="btn btn-danger ml-2 align-items-center padding-edit-2"
						(click)="modalRef.hide()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>