<div *ngIf="doctor === null;else other_content">
	<button type="button" class="btn btn-primary" (click)="openModal(template)">Create Hospital</button>
</div>

<ng-template #other_content>
	<a class="btn btn-info text-white btn-sm padding-edit-2 iconform" 
		tooltip="Edit"
		placement="left" (click)="openModal(template)">
		<i class="fas fa-pen"></i>
	</a>
</ng-template>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">
			{{ doctor === null ? 'Create Doctor' : 'Edit Doctor'}}
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="ml-4">
		Username is password
	</div>
	<div class="modal-body">

		<div class="container font-size-14">
			<form [formGroup]="doctorFormGroup" (ngSubmit)="onSubmit()">
				<div class="row">
					<div class="form-group col-sm-12 col-md-6">
						<label class="col-form-label text-left labelform">First Name</label>
						<input class="form-control" type="text" id="firstName" placeholder=" " name="firtsNname"
							formControlName="firstName"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.firstName.valid) || (!formControls.firstName.valid && (formControls.firstName.dirty || formControls.firstName.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.firstName.valid) || (!formControls.firstName.valid && (formControls.firstName.dirty || formControls.firstName.touched) && !submitted)">
							Field is required.
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-6">
						<label class="col-form-label text-left labelform">Last Name</label>
						<input class="form-control" type="text" id="lastName" placeholder=" " name="lastName"
							formControlName="lastName"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.lastName.valid) || (!formControls.lastName.valid && (formControls.lastName.dirty || formControls.lastName.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.lastName.valid) || (!formControls.lastName.valid && (formControls.lastName.dirty || formControls.lastName.touched) && !submitted)">
							Field is required.
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-6">
						<label class="col-form-label text-left labelform">User Name</label>
						<input class="form-control" type="text" id="login" placeholder=" " name="login" formControlName="login"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.login.valid) || (!formControls.login.valid && (formControls.login.dirty || formControls.login.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.login.valid) || (!formControls.login.valid && (formControls.login.dirty || formControls.login.touched) && !submitted)">
							Field is required.
						</div>
					</div>

					<div class="form-group col-sm-12 col-md-6">
						<label class="col-form-label text-left labelform">Birth Date</label>
						<input class="form-control" type="date" id="birthDate" placeholder=" " name="birthDate"
							formControlName="birthDate"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.birthDate.valid) || (!formControls.birthDate.valid && (formControls.birthDate.dirty || formControls.birthDate.touched) && !submitted) }" />
						<!-- <i class="fas fa-times warn label-position"
							*ngIf="(submitted && !formControls.birthDate.valid) || (!formControls.birthDate.valid && (formControls.birthDate.dirty || formControls.birthDate.touched) && !submitted)"
							title="Field is required."></i> -->
						<div class="text-danger"
							*ngIf="(submitted && !formControls.birthDate.valid) || (!formControls.birthDate.valid && (formControls.birthDate.dirty || formControls.birthDate.touched) && !submitted)">
							Field is required.
						</div>
					</div>

					<div class="form-group col-sm-12 col-md-12">
						<label class="col-form-label text-left labelform">Address</label>
						<input class="form-control" type="text" id="address" placeholder=" " name="address"
							formControlName="address"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.address.valid) || (!formControls.address.valid && (formControls.address.dirty || formControls.address.touched) && !submitted) }" />
						<i class="fas fa-times warn label-position"
							*ngIf="(submitted && !formControls.address.valid) || (!formControls.address.valid && (formControls.address.dirty || formControls.address.touched) && !submitted)"
							title="Field is required."></i>
					</div>

					<div class="form-group col-sm-12 col-md-12" *ngIf="hospitalId === null">
						<label for="hospital" class="col-form-label text-left labelform">Hospital</label>
						<select class="form-control" id="hospital" name="hospital"
							(change)="addedLugarExpedido($event.target, true)" formControlName="hospitalSelect"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.hospital.valid) || (!formControls.hospital.valid && (formControls.hospital.dirty || formControls.hospital.touched) && !submitted) }">
							<option value="0" disabled>
								- Selected -
							</option>
							<option *ngFor="let hos of hospitals" [value]="stringify(hos)">
								{{converterObject(hos)}}
							</option>
						</select>
						<i class="fas fa-times warn label-position"
							*ngIf="(submitted && !formControls.hospital.valid) || (!formControls.hospital.valid && (formControls.hospital.dirty || formControls.hospital.touched) && !submitted)"
							title="Field is required."></i>
					</div>
					<div class="form-group col-sm-12 col-md-12">
						<label for="hospital" class="col-form-label text-left labelform">Specialities</label>
						<div class="form-control col-sm-12 col-md-12">
							<ngx-bootstrap-multiselect [options]="specialities" formControlName="speciality" [texts]="myTexts"
								[settings]="mySettings" (ngModelChange)="onChange($event)">
							</ngx-bootstrap-multiselect>
						</div>
					</div>

					<div class="form-group col-sm-12 col-md-8">
						<label for="hospital" class="col-form-label text-left labelform">Profile Photo</label>
						<div class="avatar-edit">
						  <input type="file" class="form-control" id="customFileLang" lang="es" (change)="uploadImage($event)"
							accept="image/png,image/jpeg,image/jpg" />
						  <label for="customFileLang"></label>
						</div>
					  </div>
			
					  <div class="form-group col-sm-12 col-md-4">
						<img [src]="localImageUrl" width="100%" height="100%" class="avatar rounded-circle" alt="avatar">
					</div>

				</div>
				<div class="text-right mt-3 mt-sm-0">
					<button type="submit" class="btn btn-success padding-edit-2">Save</button>
					<button type="button" class="btn btn-danger ml-2 align-items-center padding-edit-2"
						(click)="modalRef.hide()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>