<div class="container">
	<div class="d-flex mb-4 h5">
		SPECIALITY
	</div>
	<div class="mt-4 mb-4" *ngIf="authorities.includes('ROLE_ADMIN')">
		<app-speciality-modal [speciality]="specialityTest" (findAll)="findAll()"></app-speciality-modal>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col" *ngIf="authorities.includes('ROLE_ADMIN')">Actions</th>
				</tr>
			</thead>
			<tbody *ngFor="let speciality of specialities; index as i">
				<tr>
					<th scope="row">{{((currentPage-1)*pageSize)+i+1}}</th>
					<td>{{ speciality.name }}</td>
					<td>{{ speciality.description }}</td>
					<td>
						<div class="d-flex" *ngIf="authorities.includes('ROLE_ADMIN')">
							<div class="p2">
								<app-speciality-modal [speciality]="speciality" (findAll)="findAll()"></app-speciality-modal>
							</div>
							<div class="p2">
								<app-delete-modal (delete)="delete(speciality.id)"></app-delete-modal>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="justify-content-center d-flex">
			<div class="row">
				<div class="col-xs-12 col-12">
					<pagination [totalItems]="totalItems" [itemsPerPage]="pageSize"
						[(ngModel)]="currentPage" [maxSize]="maxSize" [rotate]="rotate" (pageChanged)="changePage($event)">
					</pagination>
				</div>
			</div>
		</div>
	</div>

</div>