<div>
	<a class="btn btn-danger text-white btn-sm padding-edit-2 mx-2 iconform" (click)="openModal(template)"
		tooltip="Delete"
		placement="left">
		<i class="fas fa-trash"></i>
	</a>
</div>
<ng-template #template>
	<div class="modal-body text-center">
		<p>Are your sure?</p>
		<!-- <p>Delete Speciliaty</p> -->
		<button type="button" class="btn btn-danger mr-2" (click)="confirm()">Delete</button>
		<button type="button" class="btn btn-primary" (click)="decline()">Cancel</button>
	</div>
</ng-template>