<div *ngIf="visitNote === null;else other_content">
	<button type="button" class="btn btn-primary" (click)="openModal(template)">Create Visit Note</button>
</div>

<ng-template #other_content>
	<a class="btn btn-info text-white btn-sm padding-edit-2 iconform"
		tooltip="Edit"
		placement="left" (click)="openModal(template)">
		<i class="fas fa-pen"></i>
	</a>
</ng-template>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">
			{{ visitNote === null ? 'New Visit Note' : 'Edit Visit Note'}}
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="container font-size-14">
			<form [formGroup]="visitNoteFormGroup" (ngSubmit)="onSubmit()">
				<div class="row">
					<div class="form-group col-sm-12 col-md-12">
						<label class="col-form-label text-left labelform">Visit Date</label>
						<input class="form-control" type="date" id="visitDate" placeholder=" " name="visitDate" formControlName="visitDate"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.visitDate.valid) || (!formControls.visitDate.valid && (formControls.visitDate.dirty || formControls.visitDate.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.visitDate.valid) || (!formControls.visitDate.valid && (formControls.visitDate.dirty || formControls.visitDate.touched) && !submitted)">
							Field is required.
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12">
						<div class="floating-label">
							<label>Description</label>
							<textarea class="form-control floating-textarea text-are-size" rows="12" name="description"
								id="description" formControlName="description"
								[ngClass]="{ 'is-invalid': (submitted && !formControls.description.valid) || (!formControls.description.valid && (formControls.description.dirty || formControls.description.touched) && !submitted) }"></textarea>
							<div class="text-danger"
								*ngIf="(submitted && !formControls.description.valid) || (!formControls.description.valid && (formControls.description.dirty || formControls.description.touched) && !submitted)">
								Field is required.
							</div>
						</div>
					</div>
				</div>
				<div class="text-right mt-3 mt-sm-0">
					<button type="submit" class="btn btn-success padding-edit-2">Save</button>
					<button type="button" class="btn btn-danger ml-2 align-items-center padding-edit-2"
						(click)="modalRef.hide()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>