.container-img {
    width: 100%;
    position: relative;
}

.container-login {
    width: 100%;
    .paper-one {
        margin: 15px;
        flex-direction: column;
    }
}

@media (min-width: 1px ) and (max-width: 319px) {
    .container-img {
        display: none;
    }

    .container-login {
        width: 100%;
    }
}

@media (min-width: 320px ) and (max-width: 425px) {
    .container-img {
        display: none;
    }

    .container-login {
        width: 100%;
    }
}
@media (min-width: 426px ) and (max-width: 767px) {
    .container-img {
        width: 50%;
    }

    .container-login {
        width: 50%;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container-img {
        width: 60%;
    }
    .container-login {
        width: 50%;
    }
}
@media (min-width: 1024px) and (max-width: 1473px) {
    .container-img {
        width: 70%;
    }
    .container-login {
        width: 30%;
    }
}

.login {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.login-intro {
    position: relative;
    // width: 1000px;
    // margin: 20px;
    // margin-right: 40px;
    padding: 15px;
    color: white;
}

.form {
    width: '100%'; // Fix IE 11 issue.
    margin-top: 1px;
}

.image-left {
    background: url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80');
    background-repeat: 'no-repeat';
    background-size: 'cover';
    background-position: 'center';
    height: 100vh;
}

.form-group > label {
    top: 18px;
    left: 6px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
    z-index: 3;
}

.flex-column {
    align-content: center;
    align-items: center;
}
.input-modify {
    background: transparent;
    border-color: rgb(108,117,125);
    color: white;
}
input {
    height: 63px;
}

.btn-login {
    background: rgb(3,155,229);
    margin: 16px auto;
    display: block;
    color: white;
}

.input_icon {
    position: relative;
    bottom: 17px;
    right: 24px;
    width: 24px;
    height: 24px;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 55%;
    left: 18%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

