<main class="login">
	<div class="container-img">
		<div class="image-left">
			<div class="login-intro">
				<!-- <div>
					<img width="100px" height="100px"
						src="https://cdn4.iconfinder.com/data/icons/blue-sapphire-medical-set-2/256/39-512.png" alt="">
				</div>
				<div>
					<h1>
						Welcome to the FUSE!
					</h1>
				</div>
				<div>
					<span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel
						convallis elit
						fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
					</span>
				</div> -->
			</div>
		</div>
	</div>
	<div class="container-login">
		<div class="paper-one">
			<!-- <div class="aling-center">
				<img width="50px" height="50px" src="https://cdn4.iconfinder.com/data/icons/blue-sapphire-medical-set-2/256/39-512.png" alt="">
			</div> -->
			<h5 class="text-center">
				HOSPITALS ADMINISTRATION
			</h5>
			<h5 class="text-center">
				LOGIN TO YOUR ACCOUNT
			</h5>
			<form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="username">User Name</label>
					<input id="username" type="email" placeholder=" " name="username" formControlName="username"
						class="form-control">
					<div class="error-message d-flex"
						*ngIf="(submitted && formControls.username.errors && formControls.username.errors.required) || (formControls.username.errors?.required && formControls.username.touched && !submitted)">
						<p>User name is required</p>
					</div>
				</div>
				<div class="form-group">
					<label for="">Password</label>
					<input type="password" placeholder=" " name="password" formControlName="password" class="form-control">
					<div class="error-message d-flex"
						*ngIf="(submitted && formControls.password.errors && formControls.password.errors.required) || (formControls.password.errors?.required && formControls.password.touched && !submitted)">
						<p>Password is required</p>
					</div>
					<div class="error-message d-flex" *ngIf="formControls.password.errors?.minlength">
						<p>3 caracteres</p>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div class="justify-content-start mt-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" value="" formControlName="rememberMe">
								<span class="cr"><i class="cr-icon fas fa-check"></i></span>
								Remember Me
							</label>
						</div>
					</div>
					<div class="justify-content-end mt-4">
						<a href="">Forgot Password</a>
					</div>
				</div>
				<button type="submit" class="btn btn-login form-control mt-4">LOGIN</button>
				<div class="text-center">
					<span class="text">
						OR
					</span>
				</div>
				<div class="d-flex flex-column">
					<span>
						Don't have an account?
					</span>
					<span>
						<a href="">Create an account</a>
					</span>
				</div>
			</form>
		</div>
	</div>
	<!-- </div> -->

</main>