<div *ngIf="speciality === null;else other_content">
	<button type="button" class="btn btn-primary" (click)="openModal(template)">Create Speciality</button>
</div>

<ng-template #other_content>
	<a class="btn btn-info text-white btn-sm padding-edit-2 iconform"
		tooltip="Edit"
		placement="left" (click)="openModal(template)">
		<i class="fas fa-pen"></i>
	</a>
</ng-template>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">
			{{ speciality === null ? 'Create Especiality' : 'Edit Especiality'}}
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">

		<div class="container font-size-14">
			<form [formGroup]="specialityFormGroup" (ngSubmit)="onSubmit()">
				<div class="row">
					<div class="form-group col-sm-12 col-md-12">
						<label class="col-form-label text-left labelform">Name</label>
						<input class="form-control" type="text" id="name" placeholder=" " name="name" formControlName="name"
							[ngClass]="{ 'is-invalid': (submitted && !formControls.name.valid) || (!formControls.name.valid && (formControls.name.dirty || formControls.name.touched) && !submitted) }" />
						<div class="text-danger"
							*ngIf="(submitted && !formControls.name.valid) || (!formControls.name.valid && (formControls.name.dirty || formControls.name.touched) && !submitted)">
							Field is required.
						</div>
					</div>
					<div class="form-group col-sm-12 col-md-12">
						<div class="floating-label">
							<label>Description</label>
							<textarea class="form-control floating-textarea text-are-size" rows="5" name="description"
								id="description" formControlName="description"
								[ngClass]="{ 'is-invalid': (submitted && !formControls.description.valid) || (!formControls.description.valid && (formControls.description.dirty || formControls.description.touched) && !submitted) }"></textarea>
							<div class="text-danger"
								*ngIf="(submitted && !formControls.description.valid) || (!formControls.description.valid && (formControls.description.dirty || formControls.description.touched) && !submitted)">
								Field is required.
							</div>
						</div>
					</div>

					<div class="form-group col-sm-12 col-md-8">
						<label for="hospital" class="col-form-label text-left labelform">Avatar</label>
						<div class="avatar-edit">
						  <input type="file" class="form-control" id="customFileLang" lang="es" (change)="uploadImage($event)"
							accept="image/png,image/jpeg,image/jpg" />
						  <label for="customFileLang"></label>
						</div>
					</div>
			
					<div class="form-group col-sm-12 col-md-4">
						<img [src]="localImageUrl" width="100%" height="100%" class="avatar rounded-circle" alt="avatar">
					</div>
				</div>
				<div class="text-right mt-3 mt-sm-0">
					<button type="submit" class="btn btn-success padding-edit-2">Save</button>
					<button type="button" class="btn btn-danger ml-2 align-items-center padding-edit-2"
						(click)="modalRef.hide()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>