<div class="container">
	<div class="d-flex mb-4 h5">
		HOSPITAL
	</div>
	<div class="d-flex flex-wrap mb-4">
		<div *ngIf="authorities.includes('ROLE_ADMIN')">
			<app-hospital-modal [hospital]="hospitalTest" (findAll)="findAll()"></app-hospital-modal>
		</div>
		<div class="ml-auto">
			<div class="d-flex flex-wrap">
				<div class="p2">
					<div class="input-group rounded">
						<input type="date" class="form-control rounded" placeholder="birthDate" aria-label="Search" [(ngModel)]="date"
						  aria-describedby="search-addon" />
						<!-- <span class="input-group-text border-0" id="search-addon">
						  <i class="fas fa-search"></i>
						</span> -->
					</div>
				</div>
				<div class="p2">
					<div class="input-group rounded">
						<input type="search" class="form-control rounded" placeholder="Names" aria-label="Search"
						  aria-describedby="search-addon" [(ngModel)]="name"/>
						<button class="input-group-text border-0" id="search-addon" (click)="search()">
						  <i class="fas fa-search"></i>
						</button>
						<button class="input-group-text border-0" style="background: rgb(220,53,69); color: aliceblue;" id="search-addon" (click)="clear()">
							<i class="fas fa-times-circle"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Address</th>
					<th scope="col">Created Date</th>
					<th scope="col" *ngIf="authorities.includes('ROLE_ADMIN')">Actions</th>
				</tr>
			</thead>
			<tbody *ngFor="let hospital of hospitals; index as i">
				<tr>
					<th scope="row">{{((currentPage-1)*pageSize)+i+1}}</th>
					<td>{{ hospital.name }}</td>
					<td>{{ hospital.address }}</td>
					<td>{{ hospital.createdDate | date : 'MM/dd/yyyy' }}</td>
					<!-- <td *ngIf="authorities.includes('ROLE_ADMIN')">
					</td> -->
					<td>
						<div class="d-flex" *ngIf="authorities.includes('ROLE_ADMIN')">
							<div class="p2 mr-2">
								<app-hospital-modal [hospital]="hospital" (findAll)="findAll()"></app-hospital-modal>
							</div>
							<div class="p2">
								<a class="btn btn-success text-white btn-sm padding-edit-2 iconform"
									tooltip="Doctor List"
									placement="left" routerLinkActive="active" [routerLink]="[ '/admin/hospital-options/' +  hospital.id]">
									<i class="fas fa-plus-square"></i>
								</a>
							</div>
							<div class="p2">
								<app-delete-modal (delete)="delete(hospital.id)"></app-delete-modal>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="justify-content-center d-flex">
			<div class="row">
				<div class="col-xs-12 col-12">
					<pagination [totalItems]="totalItems" [itemsPerPage]="pageSize"
						[(ngModel)]="currentPage" [maxSize]="maxSize" [rotate]="rotate" (pageChanged)="changePage($event)">
					</pagination>
				</div>
			</div>
		</div>
	</div>

</div>