<div class="container">
	<div class="d-flex mb-4 h5">
		VISIT NOTE
	</div>
	<div class="mb-4 h6">
		PATIENT INFORMATION
		<div class="d-flex">
			<div class="p-2">
				<strong>Fist Name  :</strong>{{ patient?.firstName }} 
			</div>
			<div class="p-2">
				<strong>Last Name  :</strong> {{ patient?.lastName }}
			</div>
			<div class="p-2">
				<strong>Birth Date  :</strong> {{ patient?.birthDate | date: 'MM/dd/yyyy' }}
			</div>
			<div class="p-2">
				<strong>Address  :</strong> {{ patient?.address }}
			</div>
		</div>
	</div>
	<div class="mt-4 mb-4" *ngIf="authorities.includes('ROLE_ADMIN') || authorities.includes('ROLE_DOCTOR')">
		<app-visit-note-modal [visitNote]="visitNoteTest" (findAll)="findAll()"></app-visit-note-modal>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Description</th>
					<th scope="col">Visit Date</th>
					<th scope="col" *ngIf="authorities.includes('ROLE_ADMIN') || authorities.includes('ROLE_DOCTOR')">Actions</th>
				</tr>
			</thead>
			<tbody *ngFor="let visitNote of visitNotes; index as i">
				<tr>
					<th scope="row">{{((currentPage-1)*pageSize)+i+1}}</th>
					<td>{{ visitNote.description }}</td>
					<td>{{ visitNote.visitDate | date: 'MM/dd/yyyy' }}</td>
					<td>
						<div class="d-flex" *ngIf="authorities.includes('ROLE_ADMIN') || authorities.includes('ROLE_DOCTOR')">
							<div class="p2">
								<app-visit-note-modal [visitNote]="visitNote" (findAll)="findAll()"></app-visit-note-modal>
							</div>
							<div class="p2">
								<app-delete-modal (delete)="delete(visitNote.id)"></app-delete-modal>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="justify-content-center d-flex">
			<div class="row">
				<div class="col-xs-12 col-12">
					<pagination [totalItems]="totalItems" [itemsPerPage]="pageSize"
						[(ngModel)]="currentPage" [maxSize]="maxSize" [rotate]="rotate" (pageChanged)="changePage($event)">
					</pagination>
				</div>
			</div>
		</div>
	</div>
</div>