/* You can add global styles to this file, and also import other style files */
// * {
//   font-family: 'Muli', sans-serif;
//   font-family: 'Muli', Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   /* text-align: center; */
// //   color: #2c3e50;
//   margin-top: 0px;
// }