<div>
  <nav id="sidebar" class="sidebar-wrapper" [ngClass]="responsive" >
    <div class="sidebar-brand" style="background-color: #1e2129!important;">
      <a>HOSPITALS ADMIN</a>
    </div>
    <div class="sidebar-content ">
      <div class="sidebar-header d-flex justify-content-center" style="background-color: #1e2129!important;">
        <div class="user-info text-center">
          <span class="user-name">
            {{ user?.firstName }}
          </span>
          <span class="user-role">
            {{user?.lastName}}
          </span>
          <span class="user-role">
            {{user?.authorities[0].replace('_', ' ')}}
            {{ user?.authorities[1] ? user?.authorities[1].replace('_', ' ') : ''}}
          </span>
        </div>
      </div>
      <div class="avatar-container">
        <img [src]="imageUrl" alt="" class="avatar">
      </div>
      <div class="sidebar-menu d-flex" style="background: rgb(45,50,62) !important;">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li>
            <div class="header-line" v-if="!this.option"></div>
          </li>
          <li class="cursor-pointer">
            <a id="hospital" routerLinkActive="active" [routerLink]="[ '/admin/hospitals']">
              <i id="hospital" class="fas fa-hospital"></i>
              <span id="hospital">Hospital</span>
              <span id="hospital" style="right: 0; position: absolute;">
                <i class="fas fa-heartbeat"></i>
              </span>
            </a>
          </li>
          <li class="cursor-pointer" *ngIf="authorities.includes('ROLE_ADMIN') || authorities.includes('ROLE_DOCTOR')">
            <a id="doctors" routerLinkActive="active" [routerLink]="[ '/admin/doctors']">
              <!-- <i id="doctors" class="far fa-gem"></i> -->
              <i id="doctors" class="fas fa-user-nurse"></i>
              <span id="doctors">Doctors</span>
            </a>
          </li>
          <li class="cursor-pointer" *ngIf="authorities.includes('ROLE_ADMIN') || authorities.includes('ROLE_DOCTOR')">
            <a routerLinkActive="active" [routerLink]="[ '/admin/patients']">
              <i class="fas fa-user-injured"></i>
              <span>Patients</span>
            </a>
          </li>
          <li class="cursor-pointer" *ngIf="authorities.includes('ROLE_PATIENT')">
            <a routerLinkActive="active" [routerLink]="['/admin/visit-notes/patient/' + user?.id]">
              <i class="fas fa-user-injured"></i>
              <span>Visit Notes</span>
            </a>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <div class="header-line"></div>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="[ '/admin/specialities']">
              <i class="fas fa-car-battery"></i>
              <span>Specialities</span>
              <span class="badge badge-pill badge-primary">Job</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>